.box-heading {
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  .content-right {
    display: flex;
    align-items: center;
    gap: 20px;

    .wrap-add-address {
      background-color: #fff;
      text-transform: capitalize;
      border-radius: 2px;
      border: 1px solid #0000002b;
      box-shadow: 0 1px 1px 0 #00000008;
      color: #555;
      padding: 4px 8px;
      cursor: pointer;

      span {
        margin-left: 8px;
      }
      &:hover {
        background-color: #00000005;
      }
    }
  }
}
.box-address-user {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  .content-left {
    .box-label {
      display: flex;
      gap: 20px;

      width: 100%;
      .label {
        color: #555555cc;
        line-height: 1.8rem;
      }
      .content {
        line-height: 1.8rem;
      }
    }
  }
  .content-right {
    .text-underline {
      text-decoration: underline;
      margin-right: 20px;
      color: #555555;
      cursor: pointer;
    }
  }
}
