/* ===== LIST ROOM ===== */

.ks-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.ks-item:hover {
  background: #f0f2f5;
}

.ks-avatar img {
  border-radius: 50%;
}

.ks-name {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.ks-message {
  font-size: 16px;
  color: #666;
}

/* ===== CHAT ===== */
.ks-messenger__messages {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Message */
.ks-item.ks-from {
  display: flex;
  justify-content: flex-end;
}

.ks-item.ks-self {
  display: flex;
  justify-content: flex-start;
}

.ks-item .ks-body {
  max-width: 70%;
  margin: 8px;
}

/* Bubble */
.ks-message {
  padding: 8px 12px;
  border-radius: 15px;
  margin-top: 5px;
}

/* Message mình */
.ks-from .ks-message {
  background: #0084ff;
  color: #fff;
}

/* Message người khác */
.ks-self .ks-message {
  background: #e4e6eb;
}

/* Footer */
.ks-footer {
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.ks-footer textarea {
  width: 100%;
  border-radius: 10px;
}

.ks-footer button {
  margin-top: 5px;
  width: 100%;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  /* Ẩn sidebar */
  .col-md-3 {
    width: 100%;
    border: none !important;
  }

  .col-md-9 {
    width: 100%;
    border: none !important;
  }

  .ks-footer textarea {
    height: 40px;
  }
  .ks-search,
  .ks-body {
    width: 100%;
  }
}
