PORT=8003
NODE_ENV=development
URL_REACT=http://localhost:5000
EMAIL_APP_PASSWORD=
EMAIL_APP=
JWT_SECRET=
VNP_TMNCODE=
VNP_HASHSECRET=
VNP_URL=
VNP_RETURNURL=
DATE_VNPAYMENT=
DB_DATABASE_NAME=ecom
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_SSL=false   #deloy true
DB_PORT=3306
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=
